<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>825944165932-q7fpjdn148ut9c6i2tlov2iqgj9la834.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825944165932-q7fpjdn148ut9c6i2tlov2iqgj9la834</string>
	<key>API_KEY</key>
	<string>AIzaSyC2qXRdkWRN1gqjHrQ3jcK8DoBwysS1pyE</string>
	<key>GCM_SENDER_ID</key>
	<string>825944165932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JoPila.Pokefinder</string>
	<key>PROJECT_ID</key>
	<string>push-my-notifs-74972</string>
	<key>STORAGE_BUCKET</key>
	<string>push-my-notifs-74972.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:825944165932:ios:0a49384c0b47f571</string>
	<key>DATABASE_URL</key>
	<string>https://push-my-notifs-74972.firebaseio.com</string>
</dict>
</plist>